# Generally Ignore
.htaccess
*.log

# ==================
# Windows detritus
# ==================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac Crap
.DS_Store

# SASS Cache
.sass-cache

# Compiled Files
/assets/dist/**
/assets/dist/

.idea/
.vscode

# Gulp/NPM stuff
node_modules
build
*.node
coverage
*.orig
.idea
sandbox
test/out-fixtures/*
test/watch-*.txt
gulp.1
yarn-error.log

# Composer
/vendor/

# Allow Build within Assets
!*/vendor/*/build

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Backstop Files
/backstop_data/*
!/backstop_data/bitmaps_reference
!/backstop_data/engine_scripts

# Storybook - don't commit built files
/storybook-static/
*storybook.log

#Nightwatch - don't commit 
/vrt/diff
/vrt/latest
/vrt-report
/reports/*
/DivisionHomepage
/FlexiblePage
/homepage

